---
import { getCollection } from 'astro:content'
import { Image } from 'astro:assets'

import BaseLayout from '$layouts/Base.astro'

import teamMain from '$images/about/team-group.png'
import teamRosa from '../_includes/images/about/team-rosa.png'

const groupOne = await getCollection('members', ({ data }) => {
  return data.group === 1;
})

const groupTwo = await getCollection('members', ({ data }) => {
  return data.group === 2;
})

const groupThree = await getCollection('members', ({ data }) => {
  return data.group === 3;
})
---

<style>
img {
  transition: all 0.5s;
  filter: grayscale(10%);
}

/* img:hover { */
#team-main:hover {
  border: 2px solid var(--bs-primary) !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7) !important;
  filter: grayscale(0);
}
</style>

<BaseLayout
  auth={false}
  admin={false}
  title="¿Quiénes somos?"
  description="About the project and its memembers">

  <section class="px-0 px-md-4 py-4 mx-auto text-center">
    <!-- <div class="row justify-content-center"> -->
    <!--   <div class="col col-md-9"> -->
    <!--     <p class="lead"></p> -->
    <!--   </div> -->
    <!-- </div> -->

    <p class="col col-md-9 mx-auto lead">
      IMPULSA es un proyecto formado por un equipo profesional de profesores, psicólogos y metodólogos con diversa formación en investigación y en la clínica.
    </p>

    <!-- <div style="max-width: 720px; margin: 0 auto;"> -->
    <!--   <Image -->
    <!--     id="team-main" -->
    <!--     class="img-fluid border border-2 rounded shadow-sm" -->
    <!--     src={teamMain} -->
    <!--     format={'webp'} -->
    <!--     widths={[240, 540, 720, teamMain.width]} -->
    <!--     sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${teamMain.width}px`} -->
    <!--     alt="Team members" /> -->
    <!-- </div> -->
  </section>

  <hr class="my-4" />

  <!-- <section class="px-0 px-md-4 py-4 mx-auto"> -->
  <!--   <h2 class="h3 text-center">Investigadora Principal:</h2> -->
  <!---->
  <!--   <div class="row mt-4"> -->
  <!--     <div class="col-sm-12 col-lg-4 text-center"> -->
  <!--       <Image -->
  <!--         class="" -->
  <!--         src={teamRosa} -->
  <!--         format={'webp'} -->
  <!--         width={teamRosa.width / 5} -->
  <!--         height={teamRosa.height / 5} -->
  <!--         alt="Investigadora princial" /> -->
  <!---->
  <!--       <h3 class="h4 text-primary">Rosa Baños</h3> -->
  <!--     </div> -->
  <!---->
  <!--     <div class="col ms-3 d-flex"> -->
  <!--       <div class="my-auto"> -->
  <!--         <p class="h5"><u>Catedrática de Psicopatología</u></p> -->
  <!--         <p> -->
  <!--           Departamento de Personalidad, Evaluación y Tratamientos Psicológicos (UVEG). Instituto Polibienestar. Jefa del grupo B06/03/0052 Centro de Investigación Biomédica en Red Fisiopatología de la Obesidad y Nutrición (CIBERobn, Instituto Carlos III). -->
  <!--         </p> -->
  <!--       </div> -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </section> -->
  <!---->
  <!-- <hr class="w-75 mx-auto my-4 border border-primary" /> -->

  <section class="px-0 px-md-4 py-4 mx-auto">
    <h2 class="h4">Grupo de profesores:</h2>

    <div class="row gap-2 justify-content-center">
      {
      groupOne.map((member) => (
      <div
        style="position: relative; margin-top: 100px;"
        class="card col-12 col-sm-10 col-md-5 col-lg-4 col-xl-3">
        <Image
          style="position: absolute; top: -100px; left: 50%; transform: translateX(-50%);"
          class="mt-2 mx-auto"
          format={'webp'}
          width={member.data.photo.width / 5}
          height={member.data.photo.height / 5}
          src={member.data.photo}
          alt="member photo" />

        <div class="mt-5 card-body text-center">
          <h3 class="card-title h5 text-primary">
            {member.data.name}
          </h3>

          <p class="lead">{member.data.position}</p>
          <p class="card-text">
            {member.data.department}
          </p>
        </div>
      </div>
      ))
      }
    </div>
  </section>

  <hr class="w-75 mx-auto my-4 border border-primary" />

  <section class="px-0 px-md-4 py-4 mx-auto">
    <h2 class="h4">Estudiantes de doctorado:</h2>

    <div class="row gap-3 justify-content-center">
      {
      groupTwo.map((member) => (
      <div
        style="position: relative; margin-top: 100px;"
        class="card col-12 col-sm-10 col-md-5 col-lg-4 col-xl-3">
        <Image
          style="position: absolute; top: -100px; left: 50%; transform: translateX(-50%);"
          class="mt-2 mx-auto"
          format={'webp'}
          width={member.data.photo.width / 5}
          height={member.data.photo.height / 5}
          src={member.data.photo}
          alt="member photo" />

        <div class="mt-5 card-body text-center">
          <h3 class="card-title h5 text-primary">
            {member.data.name}
          </h3>

          <p class="lead">{member.data.position}</p>
          <p class="card-text">
            {member.data.department}
          </p>
        </div>
      </div>
      ))
      }
    </div>
  </section>

  <hr class="w-75 mx-auto my-4 border border-primary" />

  <section class="px-0 px-md-4 py-4 mx-auto">
    <h2 class="h4">Otros participantes:</h2>

    <div class="row gap-3 justify-content-center">
      {
      groupThree.map((member) => (
      <div
        style="position: relative; margin-top: 100px;"
        class="card col-12 col-sm-10 col-md-5 col-lg-4 col-xl-3">
        <Image
          style="position: absolute; top: -100px; left: 50%; transform: translateX(-50%);"
          class="mt-2 mx-auto"
          format={'webp'}
          width={member.data.photo.width / 5}
          height={member.data.photo.height / 5}
          src={member.data.photo}
          alt="member photo" />

        <div class="mt-5 card-body text-center">
          <h3 class="card-title h5 text-primary">
            {member.data.name}
          </h3>

          <p class="lead">{member.data.position}</p>
          <p class="card-text">
            {member.data.department}
          </p>
        </div>
      </div>
      ))
      }
    </div>
  </section>

  <hr class="w-75 mx-auto my-4 border border-primary" />

  <section class="px-0 px-md-4 py-4 mx-auto"></section>

  <hr class="my-4" />

  <section class="px-0 px-md-4 py-4 mx-auto">
    <h2 class="mb-4 h4 text-primary text-center">
      Con la colaboración del grupo de investigación Labpsitec - UJI
    </h2>

    <p class="lead text-center">
      Azucena García Palacios, Juana María Bretón López, Soledad Quero Castellano y Sara Fernández Buendía 
    </p>
  </section>
</BaseLayout>
